.wrapper {
  position: relative;
  height: 500px;
  width: 600px;
  background: #424242;
  padding: rem;
  border-radius: 4px;
  color: black;

  text {
    fill: white !important;
  }

  p {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    display: block;
    position: absolute;
    font-weight: bold;
    right: 2%;
  }
}
