.icon {
  fill: white;
}

.iconRed {
  fill: red;
}

.pageInner {
  display: flex;
  flex-flow: column nowrap;
  // align-items: center;
  max-width: 90vw;
  margin: auto;
  padding-top: 2rem;
  h1,
  h2 {
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
}

.recordsList {
  display: flex;
  flex-flow: column nowrap;

  > div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 1rem;
    border: 1px solid rgb(43, 43, 43);
    padding: 1rem;
    border-radius: 3px;

    padding-right: 2rem;

    &:hover {
      span {
        opacity: 1;
      }
    }

    span {
      cursor: pointer;
      transition: opacity 100ms ease;
      position: absolute;
      right: 8px;
      opacity: 0;
    }
  }
}
