.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
}

.container td, .container th {
  /* background: gray;
  color: white; */
}
